apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: redis

resources:
  - namespace.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml

commonLabels:
  app: redis
  env: dev
